<div class="card">
    <div class="card-body bg-info">
        <div class="profile-img">
            <img src="https://images.unsplash.com/photo-1683369537992-6e4b88072e1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" class="img-fluid img-rounded w-100 h-100">
        </div>
        <h2 class="profile-heading text-capitalize text-white">shubham akhare</h2>
        <div class="requestHistory">
            <div class="requestHistory-count">
                <span class="text-capitalize">Total</span>
                <span>
                    <a href="">20</a>
                </span>
            </div>
            <div class="requestHistory-count">
                <span class="text-capitalize">Requested</span>
                <span>
                    <a href="">10</a>
                </span>
            </div>
            <div class="requestHistory-count">
                <span class="text-capitalize">Approved</span>
                <span>
                    <a href="">30</a>
                </span>
            </div>
        </div>
        <div class="user-info">
            <p class="text-white text-capitalize">
                <span class="font-weight-bold text-dark mr-1">full name:</span> shubham pradeep akhare
            </p>
            <p class="text-white text-capitalize">
                <span class="font-weight-bold text-dark mr-1">branch:</span> civil
            </p>
        </div>
    </div>
</div>