@import '../../../../assets/scss/utilities/mixin';
.card{
    border: 0;
    .card-body{
        @include content-center;
        flex-direction: column;
        padding: 2rem;
        height: 92vh;
        .profile-heading{
            margin-bottom: 1.5rem;
        }
        .requestHistory{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 2rem;
        }
        .requestHistory-count{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
    .profile-img{
        width: 150px;
        height: 150px;
        margin-bottom: 1.5rem;
        img{
            border-radius: 50%;
        }
    }
}