.accountForm{
    height: 100vh;
    @include content-center;
    background-image:linear-gradient(to bottom,rgba(0, 56, 126, .3), rgba(0, 56, 126, .6)), url('../../images/SL-100820-36440-09.jpg');
    .userForm{
        background-color: #ededed;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        .i-control{
            border: 0;
            background-color: transparent;
            border-radius: 0;
            border-bottom: 2px solid rgba(0, 0, 0, .3);
            &:focus,
            &:active{
                box-shadow: 0 0 0.2rem transparent;
            }
        }
        .col{
            @include content-center;
            margin-bottom: 2rem;
        }
    }
}