.history-dropdown{
    .history-menu{
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.3);
    }
}
.user-drop{
    .user-drop-down{
        font-size: 1.5rem;
    }
    .user-drop-down-menu{
        left: -10rem;
        box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.3);
        border-radius: 0.5rem;
    }
}
