<div class="row pt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <p class="text-capitalize">leave for: 12 April 2013</p>
                <p class="text-capitalize">number of days: <span>5</span></p>
                <div class="reason-heading text-capitalize">
                    <p class="font-weight-bold m-0">reason:</p>
                    <p>for something</p>
                </div>
                <div class="status-heading text-capitalize">
                    <span class="font-weight-bold m-0 mr-2">status:</span>
                    <span>pending</span>
                </div>
            </div>
        </div>
    </div>
</div>