<div class="row pt-3">
    <div class="col-md-4">
        <div class="card application-card">
            <div class="card-body application-card-body">
                <figure class="profile">
                    <a class="d-block">
                        <img src="https://images.unsplash.com/photo-1682686578707-140b042e8f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="profile-img">
                    </a>
                    <figcaption class="text-capitalize profile-heading">Shubham Akhare</figcaption>
                </figure>
                <p class="text-capitalize">leave for: 12 April 2013</p>
                <div class="reason-heading text-capitalize">
                    <p class="font-weight-bold m-0">reason:</p>
                    <p>for something</p>
                </div>
                <div class="status-state text-capitalize">
                    <button class="btn btn-success text-capitalize">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        Approved
                    </button>
                    <button class="btn btn-danger text-capitalize">
                        <fa-icon></fa-icon>
                        rejected
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>